ol, ul {
    padding-left: 30px;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

input {
  margin-left: 5px;
}

.login{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: center;
}

.login > button{
  margin-top: 4px;
}